#!/usr/bin/env python
# -*- coding: utf-8 -*-
#
# Ограничение по временному окну (показываем пожары, зафиксированные не ранее N часов назад):
time_window=24
# Квадрат, которым ограничиваем координаты (восток России):
bbox=(104.94,42.0,163.0,96.35)
